Issues/Issue0001Fault/Issue0001Fault/src/wsdl/MockService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:ds="http://www.singhpora.com/ItemsService" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MockService" 
targetNamespace="http://www.singhpora.com/ItemsService">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.singhpora.com/ItemsService">
      <xsd:element name="findItems">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="ItemType" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="findItemsResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Items" type="ds:ItemsListType"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="ItemsListType">
        <xsd:sequence>
      		<xsd:element name="Doctor" type="ds:DoctorType" ></xsd:element>
      	</xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="DoctorType">
         <xsd:sequence>
           <xsd:element name="FullName"></xsd:element>
           <xsd:element name="Address"></xsd:element>
           <xsd:element name="Specialism"></xsd:element>
         </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="findItemsRequest">
    <wsdl:part element="ds:findItems" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="findItemsResponse">
    <wsdl:part element="ds:findItemsResponse" name="parameters"/>
</wsdl:message>
  <wsdl:portType name="ItemsService">
    <wsdl:operation name="findItems">
      <wsdl:input message="ds:findItemsRequest"/>
      <wsdl:output message="ds:findItemsResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ItemsServiceSOAP" type="ds:ItemsService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="findItems">
      <soap:operation soapAction="http://www.singhpora.com/ItemsService/findItems"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ItemsService">
    <wsdl:port binding="ds:ItemsServiceSOAP" name="ItemsServiceSOAP">
      <soap:address location="http://localhost:0000/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
