Samples/SampleServicesWorkspace/SampleServices/wsdl/DoctorsService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:ds="http://www.singhpora.com/DoctorsService/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DoctorsService" targetNamespace="http://www.singhpora.com/DoctorsService/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.singhpora.com/DoctorsService/">
      <xsd:element name="findDoctors">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Specialism" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="findDoctorsResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Doctors" type="ds:DoctorsListType"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="DoctorsListType">
        <xsd:sequence>
      		<xsd:element name="Doctor" type="ds:DoctorType" ></xsd:element>
      	</xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="DoctorType">
         <xsd:sequence>
           <xsd:element name="FullName"></xsd:element>
           <xsd:element name="Address"></xsd:element>
           <xsd:element name="Specialism"></xsd:element>
         </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="findDoctorsRequest">
    <wsdl:part element="ds:findDoctors" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="findDoctorsResponse">
    <wsdl:part element="ds:findDoctorsResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="DoctorsService">
    <wsdl:operation name="findDoctors">
      <wsdl:input message="ds:findDoctorsRequest"/>
      <wsdl:output message="ds:findDoctorsResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DoctorsServiceSOAP" type="ds:DoctorsService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="findDoctors">
      <soap:operation soapAction="http://www.singhpora.com/DoctorsService/findDoctors"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DoctorsService">
    <wsdl:port binding="ds:DoctorsServiceSOAP" name="DoctorsServiceSOAP">
      <soap:address location="http://localhost:0000/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
